<template>
  <input
    class="border rounded-md outline-none focus:ring-2 p-2"

    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: ['modelValue'],
  emits: ['update:modelValue'],
});
</script>
