<template>
  <textarea
    class="border rounded-md outline-none focus:ring-2 p-2 w-full block"
    :style="styles"

    :value="modelValue"
    @input="$emit('update:modelValue', $event.target.value)"
  />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    modelValue: {
      type: String,
      default: '',
    },
    resize: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['update:modelValue'],
  computed: {
    styles(): object {
      return {
        resize: this.resize ? 'both' : 'none',
      };
    },
  },
});
</script>
