<template>
  <div :class="$attrs.class">
    <label class="block" :for="$attrs.name">
      {{ label }}
    </label>

    <BaseInput
      class="block w-full"
      v-bind="$attrs"
      ref="baseInput"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
    />
  </div>
</template>

<script lang="ts">
import { ComponentPublicInstance, defineComponent, ref } from 'vue';

import BaseInput from './BaseInput.vue';

export interface TextFieldInterface {
  focus(): void;
}

export default defineComponent({
  inheritAttrs: false,
  components: {
    BaseInput,
  },
  props: ['modelValue', 'label'],
  emits: ['update:modelValue'],
  setup() {
    const baseInput = ref<ComponentPublicInstance<HTMLInputElement>>();

    return {
      baseInput,
    };
  },
  methods: {
    focus() {
      if (this.baseInput) {
        this.baseInput.$el.focus();
      }
    },
  },
});
</script>
