<template>
  <div class="lg:w-2/4 lg:mx-auto">
    <h3 class="underline mb-6">Editing expense with ID {{ id }}</h3>
    <expense-form
      :editingExpenseId="id"
      @submit:expense="handleFormSubmit"
      @submit-failed:expense="handleFormSubmit"
    />

    <snackbar ref="snackbar" />
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

import Snackbar from '../components/utils/Snackbar.vue';
import ExpenseForm from '../components/ExpenseForm.vue';

export default defineComponent({
  props: {
    id: {
      type: String,
      required: false,
      validator(value): boolean {
        const numValue = Number(value);

        if (Number.isNaN(numValue)) {
          return false;
        }
        if (numValue % 1 !== 0) {
          return false;
        }

        return true;
      },
    }
  },

  components: {
    Snackbar,
    ExpenseForm,
  },

  setup() {
    const snackbar = ref<typeof Snackbar>();

    return {
      snackbar,
    };
  },

  methods: {
    async handleFormSubmit(error?: string) {
      if (error) {
        if (this.snackbar) {
          this.snackbar.error(error);
        }
        return;
      }

      this.$router.push('/expenses');
    }
  },
});
</script>
