<template>
  <div
    class="mx-auto grid items-start
      grid-cols-1 gap-y-10
      lg:grid-cols-5 lg:grid-rows-none lg:gap-x-20 lg:grid-flow-col"
  >
    <month-selector
      class="lg:col-start-1 lg:col-span-5"
      :month="selectedMonth.format('MMMM')"
      :year="selectedMonth.format('YYYY')"
      @incrementMonth="() => changeMonthYear(1)"
      @decrementMonth="() => changeMonthYear(-1)"
    />

    <expense-form
      class="lg:col-start-4 lg:col-span-2"
      @submit-failed:expense="handleFormSubmit"
      @submit:expense="handleFormSubmit"
    />

    <expenses-overview
      class="lg:col-start-4 lg:col-span-2 lg:row-start-3"
      :selectedMonth="selectedMonth"
    />

    <expense-list
      class="lg:col-start-1 lg:col-span-3 lg:row-span-3"
      :expenses="expenses"
    />

    <snackbar ref="snackbar" />
  </div>
</template>

<script lang="ts">
import dayjs from 'dayjs';
import { defineComponent, ref } from 'vue';

import ExpenseForm from '../components/ExpenseForm.vue';
import ExpenseList from '../components/ExpenseList.vue';
import ExpensesOverview from '../components/ExpensesOverview.vue';
import MonthSelector from '../components/MonthSelector.vue';
import Snackbar from '../components/utils/Snackbar.vue';

import api from '../api/expensesApi';

import storeMutations from '../store/mutations';
import storeActions from '../store/actions';

interface ExpensesData {
  selectedMonth: dayjs.Dayjs;
}

export default defineComponent({
  name: 'Expenses',

  components: {
    ExpenseForm,
    ExpenseList,
    ExpensesOverview,
    MonthSelector,
    Snackbar,
  },

  setup() {
    const snackbar = ref<typeof Snackbar>();

    return {
      snackbar,
    };
  },

  data(): ExpensesData {
    return {
      selectedMonth: dayjs().startOf('month'),
    };
  },

  computed: {
    expenses(): Expense[] {
      const monthYear = this.selectedMonth.format('MM-YYYY');
      return this.$store.getters.getExpenses(monthYear);
    },
  },

  methods: {
    async handleFormSubmit(error?: string) {
      if (this.snackbar) {
        if (error) {
          this.snackbar.error(error);
        } else {
          this.snackbar.info('Successfully created expense');
        }
      }
    },

    changeMonthYear(monthYearChange: number) {
      const newSelectedMonth = this.selectedMonth
        .add(monthYearChange, 'months')
        .startOf('month');

      if (!newSelectedMonth.isValid()) {
        throw new Error(`Invalid date: ${newSelectedMonth}`);
      }

      this.selectedMonth = newSelectedMonth;

      // fetch expenses for store as well
      this.$store.dispatch(storeActions.FETCH_EXPENSES, {
        month: newSelectedMonth.month() + 1, // 0 indexed, gotta increment once
        year: newSelectedMonth.year(),
      });
    },
  },

  async mounted() {
    const now = dayjs();

    const error = await this.$store.dispatch(storeActions.FETCH_EXPENSES, {
      month: now.month() + 1, // returns zero based month (Jan = 0, Dec = 11)
      year: now.year(),
    });

    if (error) {
      console.error('Fetching of expenses did not succeed');
      console.error(error);
      return;
    }

    if (this.$store.state.categories.length === 0) {
      const categories = await api.category.getMany();
      this.$store.commit(storeMutations.ADD_CATEGORIES, { categories });
    }

    if (this.$store.state.locations.length === 0) {
      const locations = await api.location.getMany();
      this.$store.commit(storeMutations.ADD_LOCATIONS, { locations });
    }

    if (this.$store.state.paymentMethods.length === 0) {
      const paymentMethods = await api.paymentMethod.getMany();
      this.$store.commit(storeMutations.ADD_PAYMENT_METHODS, { paymentMethods });
    }
  },
});
</script>
