<template>
  <form class="flex flex-col space-y-4
              mx-auto
              max-w-xs">

    <TextField
      type="text"
      name="username"
      label="Username"
      v-model="username"
    />

    <TextField
      type="password"
      name="password"
      label="Password"
      v-model="password"
    />

    <BaseInput type="submit" value="Login" @click.prevent="login" />
  </form>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import TextField from '../components/form/TextField.vue';
import BaseInput from '../components/form/BaseInput.vue';

import authApi from '../api/expensesApi/auth';

interface LoginData {
  username: string;
  password: string;
}

export default defineComponent({
  name: 'Login',
  components: {
    BaseInput,
    TextField,
  },
  data(): LoginData {
    return {
      username: '',
      password: '',
    }
  },
  methods: {
    async login() {
      const user = await authApi.authenticate(this.$data.username, this.$data.password);

      if (user !== null) {
        this.$router.push('/expenses');
        return;
      }

      alert('Invalid credentials');
    }
  },
});
</script>
