<template>
  <div>
    <table class="w-full table-fixed">
      <thead class="border-b-2">
        <tr>
          <td class="w-1/2 font-bold text-left">Category</td>
          <td class="w-1/2 font-bold text-right">Total amount</td>
        </tr>
      </thead>
      <tbody class="divide-y">
        <tr v-for="aggr in aggregatedExpenses" :key="aggr.category">
          <td class="text-left">{{ aggr.category }}</td>
          <td class="text-right">{{ aggr.amount }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

type AggregatedExpenses = Array<{ category: string, amount: number }>

export default defineComponent({
  props: [ 'selectedMonth' ],

  computed: {
    aggregatedExpenses(): AggregatedExpenses {
      if (!this.selectedMonth) {
        return [];
      }

      const monthYear = this.selectedMonth.format('MM-YYYY');
      const expenses = this.$store.getters.getExpenses(monthYear);

      let aggregatedExpenses: AggregatedExpenses = [];

      expenses.forEach((expense: Expense) => {
        const aggrExp = aggregatedExpenses.find(a => a.category === expense.category);

        if (aggrExp) {
          aggrExp.amount += expense.amount;
          return;
        }

        aggregatedExpenses = [
          ...aggregatedExpenses,
          { category: expense.category, amount: expense.amount },
        ]
      });

      aggregatedExpenses = aggregatedExpenses.sort((a, b) => b.amount - a.amount);

      return aggregatedExpenses;
    },
  },
});
</script>
