<template>
  <table class="table-auto">
    <thead class="border-b-2">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody class="divide-y">
      <tr v-for="expense in expenses" :key="expense.id">
        <td class="py-2 text-center">
          {{ expense.date.format('ddd, DD MMM YYYY') }}
        </td>
        <td class="py-2 text-center">
          {{ expense.amount }}
        </td>
        <td class="py-2 text-center">
          {{ expense.category }}
        </td>
        <td class="py-2 text-center">
          {{ expense.location }}
        </td>
        <td>
          <router-link :to="'/expenses/edit/' + expense.id">
            <pencil-solid-icon
              class="box-content bg-gray-100 rounded-md p-1 border hover:bg-gray-300"
            ></pencil-solid-icon>
          </router-link>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

import PencilSolidIcon from './icons/PencilSolidIcon.vue';

export default defineComponent({
  components: {
    PencilSolidIcon,
  },

  props: {
    expenses: {
      type: Object as PropType<Expense>,
    },
  },
});
</script>
