<template>
  <form class="grid grid-cols-4
              gap-y-4 gap-x-4">

    <text-field
      class="col-span-2 cursor-pointer"
      type="date"
      name="date"
      label="Date"
      v-model="expenseDate"
    />

    <text-field
      class="col-span-2"
      type="text"
      name="amount"
      label="Amount"
      v-model.number="amount"
      ref="amountInput"
    />

    <text-field
      class="col-span-4"
      type="text"
      name="category"
      label="Category"
      v-model="category"
      list="categories"
      autocomplete="off"
    />

    <datalist id="categories">
      <option
        v-for="category in categories"
        :key="category"
        :value="category"
      />
    </datalist>

    <text-field
      class="col-span-4"
      type="text"
      name="location"
      label="Location"
      v-model="location"
      list="locations"
      autocomplete="off"
    />

    <datalist id="locations">
      <option
        v-for="location in locations"
        :key="location"
        :value="location"
      />
    </datalist>

    <text-field
      class="col-span-4"
      type="text"
      name="paymentMethod"
      label="Payment Method"
      v-model="paymentMethod"
      list="paymentMethods"
      autocomplete="off"
    />

    <datalist id="paymentMethods">
      <option
        v-for="paymentMethod in paymentMethods"
        :key="paymentMethod"
        :value="paymentMethod"
      />
    </datalist>

    <div class="col-span-4">
      <label class="block" for="notes">Notes</label>
      <base-textarea :resize="false" name="notes" v-model="notes" />
    </div>

    <base-input class="col-start-3 col-span-2" type="submit" value="Submit" @click.prevent="submit" />
  </form>
</template>

<script lang="ts">
import dayjs from 'dayjs';
import { ComponentPublicInstance, defineComponent, ref } from 'vue';

import BaseTextarea from './form/BaseTextarea.vue';
import BaseInput from './form/BaseInput.vue';
import TextField, { TextFieldInterface } from './form/TextField.vue';

import expenseApi from '../api/expensesApi/expense';

import storeActions from '../store/actions';

interface ExpenseFormData extends Expense {
  oldExpense?: Expense;
}

export default defineComponent({
  props: {
    editingExpenseId: {
      type: String,
      required: false,
    },
  },

  emits: [
    'submit:expense',
    'submit-failed:expense',
  ],

  components: {
    BaseTextarea,
    BaseInput,
    TextField,
  },

  setup() {
    const amountInput = ref<ComponentPublicInstance<TextFieldInterface>>();
    return {
      amountInput,
    };
  },

  data(): ExpenseFormData {
    return {
      oldExpense: undefined,

      id: undefined,
      date: dayjs(),
      amount: 0,
      category: '',
      location: '',
      paymentMethod: '',
      notes: '',
    };
  },

  computed: {
    expenseDate: {
      get(): string {
        return this.date.format('YYYY-MM-DD');
      },

      set(newDate: string): void {
        this.date = dayjs(newDate);
      },
    },

    categories(): string[] {
      return this.$store.state.categories;
    },

    locations(): string[] {
      return this.$store.state.locations;
    },

    paymentMethods(): string[] {
      return this.$store.state.paymentMethods;
    },
  },

  methods: {
    submit() {
      const expense: Expense = {
        id: this.id,
        date: this.date,
        amount: this.amount,
        category: this.category,
        location: this.location,
        paymentMethod: this.paymentMethod,
        notes: this.notes === '' ? undefined : this.notes,
      };

      if (this.$props.editingExpenseId) {
        if (this.oldExpense === undefined) {
          throw new Error('Edditing an expense, but this.oldExpense is undefined');
        }
        return this.updateExpense(this.oldExpense, expense);
      }
      return this.createExpense(expense);
    },

    async createExpense(expense: Expense) {
      const error = await this.$store.dispatch(storeActions.CREATE_EXPENSE, { expense });

      if (error) {
        console.error(error);
        this.$emit('submit-failed:expense', error);
        return;
      }

      this.clearForm();
      this.focusAmountField();
      this.$emit('submit:expense');
    },

    async updateExpense(oldExpense: Expense, newExpense: Expense) {
      const error = await this.$store.dispatch(storeActions.UPDATE_EXPENSE, { oldExpense, newExpense });

      if (error) {
        console.error(error);
        this.$emit('submit-failed:expense', error);
        return;
      }

      this.$emit('submit:expense');
    },

    focusAmountField() {
      if (this.amountInput) {
        this.amountInput.focus();
      }
    },

    clearForm(full = false) {
      if (full) {
        this.date = dayjs();
      }
      this.amount = 0;
      this.category = '';
      this.location = '';
      this.paymentMethod = '';
      this.notes= '';
    }
  },

  async mounted() {
    if (!this.$props.editingExpenseId) {
      // not editing an expense, nothing to do
      return;
    }

    if (Number.isNaN(Number(this.$props.editingExpenseId))) {
      console.error(`${this.$props.editingExpenseId} is not a number`);
      return;
    }

    const id: number = Number(this.$props.editingExpenseId);
    const response = await expenseApi.getById(id);

    if (response.error) {
      console.error(response.error);
      return;
    } else if (response.data === undefined) {
      throw new Error('Didn\'t get error, but also didn\'t get data back from API module');
    }

    const expense = response.data;

    Object.assign(this.$data, {
      oldExpense: expense,
      id: expense.id,
      amount: expense.amount,
      date: expense.date,
      category: expense.category,
      location: expense.location,
      paymentMethod: expense.paymentMethod,
      notes: expense.notes ? expense.notes : '',
    });
  },
});
</script>
