<template>
  <div
    class="flex justify-between items-center"
  >
    <chevron-left-outline-icon
      class="h-5 w-5 box-content bg-gray-100 rounded-md p-1 border hover:bg-gray-300"
      @click="decrementMonth"
    />

      <p>{{ month }} {{ year }}</p>

    <chevron-right-outline-icon
      class="h-5 w-5 box-content bg-gray-100 rounded-md p-1 border hover:bg-gray-300"
      @click="incrementMonth"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

import ChevronLeftOutlineIcon from './icons/ChevronLeftOutlineIcon.vue';
import ChevronRightOutlineIcon from './icons/ChevronRightOutlineIcon.vue';

export default defineComponent({
  name: 'MonthSelector',

  props: [ 'month', 'year' ],
  emits: [ 'incrementMonth', 'decrementMonth' ],

  components: {
    ChevronLeftOutlineIcon,
    ChevronRightOutlineIcon,
  },

  methods: {
    incrementMonth() {
      this.$emit('incrementMonth');
    },

    decrementMonth() {
      this.$emit('decrementMonth');
    },
  },
});
</script>
