<template>
  <div class="container
            mt-16 mx-auto
            px-8">
    <router-view />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'App',
});
</script>
