<template>
  <div
    :class="classes"
    style="minWidth: 250px; marginLeft: -125px;"
  >
    {{ text }}
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

interface SnackbarData {
  text: string;
  visible: boolean;
  color?: ('green'|'red');
}

export default defineComponent({
  data(): SnackbarData {
    return {
      text: 'Default snackbar text',
      visible: false,
      color: undefined,
    }
  },

  computed: {
    classes(): string[] {
      let classes: string[] = [];

      if (this.visible) {
        classes = [ ...classes, 'visible', 'animate-popout' ];
      } else {
        classes = [ ...classes, 'invisible', 'animate-none' ];
      }

      switch (this.color) {
        case 'green':
          classes = [ ...classes, 'bg-green-500' ];
          break;

        case 'red':
          classes = [ ...classes, 'bg-red-500' ];
          break;

        default:
          classes = [ ...classes, 'bg-gray-300' ];
          break;
      }

      return [
        ...classes,
        'rounded-md',
        'text-center',
        'fixed',
        'left-1/2',
        'bottom-6',
        'p-4',
      ]
    }
  },

  methods: {
    info(text: string, duration=3000) {
      if (this.visible) {
        return;
      }

      this.text = text;
      this.color = 'green';
      this._show(duration);
    },

    error(text: string, duration=3000) {
      if (this.visible) {
        return;
      }

      this.text = text;
      this.color = 'red';
      this._show(duration);
    },

    _show(duration: number) {
      this.visible = true;

      setTimeout(() => {
        this.color = undefined;
        this.visible = false;
      }, duration);
    }
  },
});
</script>
